<!DOCTYPE html>
<html>
	<head>
		<title>Apps</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/style/app.css">
	</head>
	<body>
		<div class="ui inverted  menu">
			  <a class="item">
				BlogPost
			  </a>
			  <a class="item">
				Home
			  </a>
			  <a href="/blog/new" class="item">
				NewPost
			  </a>
			  <div class="right menu">

				<a class="ui item active">
				  Logout
				</a>
			  </div>
		</div>	
